:root {
  color-scheme: dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
}

main {
  width: 600px;
  max-width: 100%;
  margin: 1rem;
}

h1 {
  text-align: center;
}

#app {
  display: flex;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.performance-monitor {
  position: fixed;
  padding: 0.5rem;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  font-family: monospace;
  z-index: 999;
  pointer-events: none;
  user-select: none;
}

.performance-monitor[data-status='good'] {
  color: #0f0;
}

.performance-monitor[data-status='medium'] {
  color: #ff0;
}

.performance-monitor[data-status='bad'] {
  color: #f00;
}
